* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

@font-face {
	font-family: "IndieFlower";
	src: 
		url("IndieFlower-Regular.ttf") format("truetype");
		font-weight: 400;
}
body {
		width: 100vw;
		height: 100vh;
		background-color: rgb(90, 82, 82);
		display: flex;
		align-items: center;
		justify-content: center;
}

.snowflake {
	position: fixed;
	background: white;  
	top: -20px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	pointer-events: none;
	animation: fall 8s linear infinite;
	z-index: -2;
}

@keyframes fall {
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 0.9;
	}	
	100%{
		transform: translateY(100vh) rotate(360deg);
		opacity: 0;
	}
}

.calculator-container {
		width: 700px;
		height: 500px;
		border: 2px solid #333;
		border-radius: 15px;
		background-color: #fcfcfc;
		background-image: radial-gradient(#e0e0e0 1px, transparent 1px);
		box-shadow: 5px 5px 0 0 #333,
								10px 10px 0 0 #777,
								-2px -2px 5px rgba(0, 0, 0, 0.1);
		z-index: 5;
}

.calculator-container::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 18px;
  border: 2px dashed rgba(0,0,0,0.4);
  pointer-events: none;
}

.display-wrapper {
    position: relative;
  }

.input-form{
		background-color:  #f1ece6; 
		width: 100%;
		height: 80px;
    color: #333;
    text-align: right;
		padding-right: 10px;
		padding-top: 20px;
		font-family: "IndieFlower";
		font-weight: bold;
    font-size: 24px;
		border: none;
		border-bottom: 2px solid #333;
		box-sizing: border-box;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.left-top-btns {
		position: absolute;
		display: flex;
    flex-direction: row;
    gap: 8px;
    left: 10px;
    top: 10px;
}
.red {
		background-color: #ff6b6b;
    width: 12px;
    height: 12px;
    border-radius: 6px;
		border: 2px solid #333;
    box-shadow: 2px 2px 0 0 #333;
		cursor: pointer;
}
.yellow {
    background-color: #ffd93d;
    width: 12px;
    height: 12px;
    border-radius: 6px;
		border: 2px solid #333;
    box-shadow: 2px 2px 0 0 #7a7979;
		cursor: pointer;
}
.green {
    background-color: #6bcf63;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 2px solid #333;
    box-shadow: 2px 2px 0 0 #9b9a9a;
		cursor: pointer;
}
.buttons {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1px;
	height: 264px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding-right: 2px;
	cursor: pointer;
}

.btn-operator,
.btn-operator2,
.btn-number,
.btn-number-zero,
.btn-function {
  border: 2px solid #333;               
  box-shadow: 3px 3px 0 0 #333;        
  border-radius: 8px;
  margin: 2px;
  font-family: "IndieFlower";
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  height: auto;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.05s ease-out,
              box-shadow 0.05s ease-out,
              opacity 0.05s ease-out;
}

.btn-number,
.btn-number-zero {
  background-color: #f7f7f7;
  color: #333;
}

.btn-function {
  background-color: #d0d0d0;
  color: #333;
}

.btn-operator,
.btn-operator2 {
  background-color: #F3DA65;
  color: #333;
}

.btn-number-zero {
  grid-column: span 2;
  border-bottom-left-radius: 12px;
}

.btn-operator2 {
  border-bottom-right-radius: 12px;
}

.btn-operator:hover,
.btn-operator2:hover,
.btn-number:hover,
.btn-number-zero:hover,
.btn-function:hover,
.red:hover,
.yellow:hover,
.green:hover {
  box-shadow: 1px 1px 0 0 #333;
  transform: translate(2px, 2px);
}

.btn-operator:active,
.btn-operator2:active,
.btn-number:active,
.btn-number-zero:active,
.btn-function:active,
.red:active,
.yellow:active,
.green:active {
  box-shadow: 0 0 0 0 #333;
  transform: translate(3px, 3px);
}

